
.planets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    max-width: 1200px;
    margin: 40px auto;
    font-family: sans-serif;
    
}

.planet {
    
    border-radius: 4px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.planet-name {
    font-size: 2em;
    text-transform: uppercase;
}

.planet-weight {
    font-size: 1.5em;
    color: purple;
}

.planet-age {
    font-size: 1.5em;
    color: black;
}

.planet-img {
    width: 100%;
    display: block;
    
}

.input-age {
    margin: 100px 100px;
    position: absolute;
    top: 120px;
    left: -10px;
    padding: 15px;
}

.input-weight {
    margin: 70px 50px;
    position: absolute;
    top: 220px;
    left: 40px;
    padding: 15px;
}

.save-button {
    margin: 70px 50px;
    position: absolute;
    top: 300px;
    left: 40px;
    padding: 2px;
}

.input-age:focus {
    color: rebeccapurple;
    font-weight: 100px;
}

.input-weight:focus {
    color: rebeccapurple;
    font-weight: 100px;
}

.planet-content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: white;
}

