h1{
	color:rgb(0,140,225);
	border:2px solid  rgba(0,20,180,0.6);
}

h4{
	background:rgba(0,20,180,0.6);
}

li{
	color:rgb(0,0,0,);
}

body{
	background: pink;
	/*background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgslLEuv47jPoS-QMaaexRBRXD85w_lfT6iPOkFgI3L29-L91rPA);
	background-repeat: no-repeat;
	background-size: cover;*/

}
