#header{
  background: url("img/naziapics (6).jpg");
  background-repeat: no-repeat;
	background-size:cover;
}
#gallery{
	background:#b8c4dd;
}
.image {
width: 100%;
height: 250px;
background-size: cover;
background-position: center;
}

#orange {
    color:orange;

}
#green{
  color:#1ece33;
}

.slideshow{
  width: 100%;
  height: auto 200px;
  background-size: cover;
  background-position: center;
}
