.common {
  font-size:30px;
  color: white;
}

.first {
  background: green;
}
.uncle {
  background: purple;
}
.parent {
  position: relative;
}
.second {
  background: red;
  position: fixed;
  /* top: 20px;
  left: 30px;*/ 
  bottom: 10px;
  right:20px;
}

.third {
  background: blue;
  height: 70px;
}