.common {
  font-size:30px;
  color: white;
}

.first {
  background: green;
}
.uncle {
  background: purple;
}
.parent {
  position: relative;
}
.second {
  background: red;
  position: relative;
  width:20%;
  top: 50%;
  left: 50%; 
  /*transform translate brings the second element right in the middle x and y cordinate*/
  transform: translate(-50%);
}

.third {
  background: blue;
  height: 70px;
}