*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.outer {
    background-image: url("https://images.unsplash.com/photo-1527066579998-dbbae57f45ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 50px ;
    border-bottom-left-radius: 50px;
}

#bulb {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 200px;
    left: 50px;
}

#bulb:hover {
    font-size: 90px;
    color: yellow;
}

.hoverPic {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


p {
    position: absolute;
    top: 250px;
    left: 50px;
    color: white;
    font-size: 3em;
}

.btn {
    position: absolute;
    top: 450px;
    left: 50px;
}

.skills h1 {
    text-align: center;
}

.skills span {
    font-size: 1.2em;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.triangle {
    height: 0;
    width:0;
    border-left: 100px solid blue;
    /* border-right: 10px solid blue; */
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    position: relative;
}

hr.style10 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.projects {
    text-align: center;
}