*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "box1 box2"
						"box3 box3";
}

.box1{
	background: lightcoral;
	grid-area: box1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.box2{
	background: lightblue;
	grid-area: box2;
}

.box3{
	background: lightgreen;
	grid-area: box3;
}