header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

header nav li{
    list-style: none;
    margin-right: 2em;
    cursor: pointer;
}

header h2{
    margin-left: 2em;
}