.pet-card {
    max-width: 31%;
    min-width: 240px;
    margin: 1%;
    border: 2px solid blue;
    border-radius: 0 0 2px 2px;
    background: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba;
}

.pet-card-content {
    padding: 16px;
}

.pet-card-img {
    overflow: hidden;
    height: 50%;
}

.pet-card img {
    width: 100%;
    max-height: 250px;
}

.pet-name {
    margin-top: 0;
}

.list {
    list-style: none;
}