.pet-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: wheat;
}

@media (max-width: 580px){
    .pet-list {
        display: block;
    } 
}