* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lobster';
    background-color: #CFFFE5;
    transition: 0.3s ease-in;
  }

  header{
    background-color: #CFFFE5;
    height:100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  section{
    /* background-color: #CFFFE5; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  

  section img{
      width: 90%;
      height: 70%;
      object-fit: cover;
  }

  .page2{
    text-align: center;
    width: 70%;
  }
  
  .page2 h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  #transition-pic img{
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
  
  .bg-active{
    background-color: white;
  }
  
  .intro-text h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .intro-text p {
    font-size: 22px;
  }
    